 body {
   font-family: Arial, sans-serif;
   background-image: url('https://tinypic.host/images/2025/04/27/max-van-den-oetelaar-uymG7UVPXpI-unsplash.jpg');
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;

 }

 form {
   display: block;
   background-color: #1e1e1e80;
   padding: 50px;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   /*x,y,blur,color*/
   margin-bottom: 50px;
 }

 h1 {
   margin: 50px auto;
   justify-content: center;
   color: whitesmoke;
   font-size: 350%;
   text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
 }

 label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
   color: whitesmoke;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 }

 input[type="text"],
 input[type="number"],
 input[type="password"],
 input[type="date"],
 input[type="email"],
 textarea,
 select {
   color: #5c5c5c;
   width: 100%;
   padding: 8px 10px;
   margin-bottom: 15px;
   border: 0.5px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
 }

 textarea {
   resize: vertical;
 }

 input[type="checkbox"],
 input[type="radio"] {
   margin-right: 8px;
 }

 #botones {

   display: flex;
   justify-content: center;
   align-items: baseline;
   margin-top: 30px;
   gap: 15px;

 }


 input[type="submit"] {
   background: none;
   color: rgb(0, 170, 119);
   border: none;
   padding: 12px 24px;
   border-radius: 6px;
   cursor: pointer;
   animation: brilloLate 2s infinite ease-in-out;
   transition: transform 0.3s ease, background-color 0.3s ease;
   /*transition:propiedad-duración-timing*/
   gap: 10px;
   /*ease inicio y final suave*/
   width: 150px;
   border: 2px solid #00aa77;
   /* Añadí borde para mejor definición */
   font-weight: 600;
   letter-spacing: 0.5px;
 }

 input[type="submit"]:hover {
   transform: scale(1.05);
   background-color: rgb(0, 170, 119);
   color: whitesmoke;
 }

 @keyframes brilloLate {
   0% {
     box-shadow: 0 0 5px #00cc88;
     /*reesplandor sutil*/
   }

   50% {
     box-shadow: 0 0 20px #00ffae;
     /*aumenta intensidad*/
   }

   100% {
     box-shadow: 0 0 5px #00cc88;
   }
 }


 #cancelar {
   background: none;
   border: 0.5px solid grey;
   color: grey;
   cursor: pointer;
   padding: 12px 24px;
   transition: all 0.3s ease;
   border-radius: 6px;
   width: 150px;
   font-weight: 600;
   letter-spacing: 0.5px;
   box-shadow: 0 0 10px rgba(244, 250, 245, 0.8);
 }

 #cancelar:hover {
   color: whitesmoke;
   box-shadow: 0 0 10px rgba(194, 0, 0, 0.8);
   border: 0.5px solid red;
   background-color: red;
   transform: scale(1.05);

 }


 p {
   margin: 10px 0 5px;
   font-weight: bold;
   color: whitesmoke;
 }

 input:focus,
 textarea:focus,
 select:focus {
   outline: none;
   border-color: #f1f7f1;
   box-shadow: 0 0 10px rgba(244, 250, 245, 0.8);
   /*x, y, radio difuminado*/
   transform: scale(1.05);
   transition: all 0.3s ease;
 }


 .custom-cursor {
   cursor: url('https://iili.io/3WRwRG1.th.png'), auto;
 }


 .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;

 }

 .card {
   width: 300px;
   padding: 20px;
   background-color: #1e1e1e80;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }

 .card h3 {
   color: whitesmoke;
   border-bottom: 1px solid whitesmoke;
   padding-bottom: 5px;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
 }

 .card p {
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
   margin: 10px 0;
 }